
  <div id="snackbar" class="show">Press F11 for a better fullscreen experience</div>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="VIEWER.closeNav()">&times;</a>

    <!-- liste des images possibles -->
    <div class="images_list style-2">
    {{#each dirs}}
    
     <div class="view view-tenth">
         <img src="/images/dzi/{{this}}/output.dzi_files/7/0_0.jpeg">
          <div class="mask">
              <h2>{{this}}</h2>
              
              <a href="#" onClick="VIEWER.loadImage('{{this}}')" class="info">Explorer</a>
          </div>
      </div>
      
    {{/each}}
    </div>
    
  </div>

  <!-- Use any element to open the sidenav -->
  <a id="menu_btn" class="btn btn-floating btn-lg red"  onclick="VIEWER.openNav()">&nbsp;</a>


    <div id="spinner" class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
    <div id="map"></div>



<script src="javascripts/viewer.js"></script>
<script>
  //load la premiere image de la liste
  window.addEventListener("load", function(){
    VIEWER.loadImage('{{dirs.[0]}}').then (dt=>{
          //all is good...
      }).catch(err=>{
        alert ("Erreur lors du chargement du descriptor");
      })
  })

</script>

